@media (max-width: 1440px){
    .header__inner{
        margin-top: 90px;
    }
}
@media (max-width: 1100px){
    .menu{
        justify-content: start;
        display: none;
    }
    .menu__col{
        position: absolute;
        top: 25px;
        right: 0;
        width: auto;
        & + .menu__col{
            top: 160px;
        }
    }
    .menu__burger{
        display: block;
    }
    .menu__list{
        display: block;
        text-align: right;
        padding-bottom: 10px;
        li{
            display: block;
            margin-bottom: 10px;
            &::before{
                width: 0;
                height: 0;
            }
        }
    }
    .header__title{
        font-size: 75px;
    }
    .about__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .experience{
        overflow: hidden;
    }
    .experience .container{
        padding: 0;
    }
    .header__bottom{
        display: none;
    }
}
@media (max-width: 990px){
    .slick-arrow{
        top: auto;
        bottom: -10px;
    }
}
@media (max-width: 768px){
    .slick-list{
        max-width: 500px;
    }
    .slick-arrow{
        bottom: -60px;
    }
    .work__item-content{
        flex-direction: column;
    }
    .work{
        margin-bottom: 70px;
    }
    .work__item-img{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .work__item-info{
        margin-left: 0;
        text-align: center;
    }
    .work__item-link,
    .more-link{
        width: 50%;
    }
    .education__info{
        width: 300px;
        font-size: 16px;
    }
}
@media (max-width: 500px){
    .header__title{
        font-size: 45px;
    }
    .menu__list li{
        font-size: 22px;
    }
    .menu__col + .menu__col{
        top: 135px;
    }
    .work__item-img img{
        min-height: 200px;
    }
    .title{
        font-size: 26px;
        padding-left: 80px;
        &::before{
            width: 55px;
            height: 2px;
        }
    }
}
@media (max-width: 425px){
    .work__item-link{
        font-size: 14px;
    }
    .title{
        padding: 0 10px;
        line-height: 30px;
        &::before{
            width: 0;
            height: 0;
        }
    }
    .work{
        padding-top: 70px;
        margin-bottom: 70px;
    }
    .header__inner{
        margin-top: 0;
    }
    .menu__burger{
        top: -60px;
        right: 0;
    }
    .menu__col{
        top: 95px;
        & + .menu__col{
            top: 195px;
        }
    }
    .header__title{
        font-size: 36px;
        max-width: 220px;
    }
    .menu__list li{
        font-size: 15px;
    }
    .about__card{
        order: -1;
        margin: 0 10px 30px;
    }
    .about__skills{
        margin: 0 10px 30px;
    }
    .about .container{
        padding: 0;
    }
    .about__info-title{
        margin-left: 10px;
    }
    .line{
        right: auto;
        left: -1px;
    }
    .education__line{
        text-align: left;
        margin-left: 20px;
    }
    .education__info{
        left: 30px;
        transform: translateX(400%);
    }
    .download__btn{
        font-size: 16px;
        padding: 10px 15px;
    }
    .download__btn.active::before{
        width: 168px;
        height: 33px;
    }
}
@media (max-width: 320px){
    .work__item-img img{
        min-height: 170px;
    }
    .work__item-text{
        font-size: 15px;
    }
    .about__card{
        padding: 20px 15px;
    }
    .education__info {
        width: 250px;
        font-size: 14px;
    }
    .social__item{
        width: 40px;
        height: 40px;
    }
    .social__item-link{
        font-size: 20px;
    }
}



@media (min-width: 1101px){
    .menu__col{
        display: block !important;
    }
}