@import 'fonts';
@import 'global';
@import 'vars';
@import 'animate';


// start header
.header{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 50px 0 60px;
    position: relative;
    &__title{
        max-width: 520px;
        font-size: 85px;
        @include f700;
        span{
            font-weight: 300;
            text-decoration: line-through;
        }
    }
}
.logo{
    text-transform: uppercase;
    color: #fff;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    @include f700;
    padding: 19px 4px;
    font-size: 24px;
    transition: all .7s;
    &:hover{
        border-color: #278651;
        color: #278651;
    }
}
.header__inner{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 295px;
    margin: 210px 0 220px;
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 460px;
    width: 100%;
    height: 100%;
    &__col{
        width: 100%;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        li{
            font-size: 30px;
            @include f600;
            padding-bottom: 25px;
            display: inline-block;
            position: relative;
            transition: all .7s;
            &::before{
                content: "";
                position: absolute;
                width: 54px;
                height: 3px;
                background-color: #fff;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: all .7s;
            }
            &:hover{
                color: #278651;
            }
            &:hover::before{
                background-color: #278651
            }
        }
    }
}
.menu__burger{
    width: 30px;
    position: absolute;
    top: -150px;
    right: 25px;
    display: none;
    cursor: pointer;
    .bar{
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        &:nth-child(1){
            animation-delay: 1s;
        }
        &:nth-child(2){
            animation-delay: 1.5s;
        }
    }
    .bar2{
        margin-top: 7px;
    }
}
.bar1.bar--active{
    transform: rotate(45deg);
    transform-origin: 45%;
    width: 25px
}
.bar2.bar--active{
    transform: rotate(-45deg);
    transform-origin: 40%;
    width: 25px;
    margin-top: 0;
}
.header__bottom{
    max-width: 1365px;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 15px;
}
.header__arrow{
    text-align: center;
    font-size: 25px;
    color: #fff;
    &::before{
        cursor: pointer;
    }
    & a:hover::before{
        color: #278651;
    }
}
// end header

//start work
.work{
    background-color: #f7f7f1;
    padding: 145px 0 50px;
    margin-bottom: 140px;
    &__items{
        position: relative;
    }
}
.slick-list{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.slick-arrow{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    border: 1px solid #278651;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s;
    &:hover{
        background-color: #278651;
        color: #fff;
    }
}
.slick-prev{
    right: 70px;
}
.icon-angle-left:before,
.icon-angle-right:before{
    font-size: 23px;
}
.slick-disabled{
    border-color: #EFEFEF;
    &:hover{
        background-color: #EFEFEF;
        color: #000;
    }
}
.slick-dots{
    font-size: 0;
    text-align: center;
    li{
        display: inline-block;
        & + li{
            margin-left: 10px;
        }
        &.slick-active{
            button{
               background-color: #278651; 
            } 
        }
    } 
    button{
        width: 10px;
        height: 10px;
        border: 1px solid #278651;
        border-radius: 50%;
        cursor: pointer;
    }
}
.work__title,
.about__title,
.contact__title{
    text-align: center;
    margin-bottom: 50px;
}
.work__item-content{
    display: flex;
    margin-bottom: 50px;
}
.work__item-img img{
    max-width: 570px;
    width: 100%;
    min-height: 340px;
}
.work__item-info{
    max-width: 400px;
    margin-left: 30px;
}
.work__item-name{
    @include f700;
    font-size: 30px;
}
.work__item-text{
    @include font-text;
}
.work__item-link,
.more-link{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    transition: all .5s;
    @include font-text;
    font-weight: 700;
    &:hover{
        color: #fff;
        background-color: #278651;
        border-color: #278651;
    }
}
//end work

//start about
.about{
    margin-bottom: 140px;
    .container{
        padding-right: 0;
    }
}
.about__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__info-title{
    opacity: 0;
    animation: showText .5s 1s linear forwards;
    margin-bottom: 20px;
}
.about__info-text{
    border-radius: 15px;
    font-size: 18px;
    opacity: 0;
    animation: showText .5s 1s linear forwards;
    @include font-text;
    ul li{
        padding: 5px 10px;
        padding-left: 40px;
        box-shadow: inset 0px 1px 0px rgb(236, 236, 236),
                    inset 0px 1px 3px rgb(236, 236, 236);
        &:nth-child(2n+1){
            background-color: rgb(233, 233, 233);
        }
    }
}
.about__card{
    text-align: center;
    max-width: 350px;
    padding: 30px 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #ccc,
                1px 1px 3px #ccc;
    margin: 0 20px;
}
.about__card-name{
    font-size: 27px;
    @include f700;
    opacity: 0;
    animation: showText .5s 1s linear forwards;
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}
.about__card-img img{
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.social{
    &__item{
        display: inline-block;
        font-size: 28px;
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        transition: all .5s;
        overflow: hidden;
        box-shadow: -3px 3px 7px #ccc,
                    3px -3px 7px #ccc;
        & + li{
            margin-left: 15px;
        }
        &:hover{
            box-shadow: inset 0px 1px 0px #ccc,
                        inset 0px -1px 0px #ccc;;
        }
        &:nth-child(1){
            color: #333;
        }
        &:hover:nth-child(1){
            background-color: #333;
        }
        &:nth-child(2){
            animation-delay: .3s;
            color: #e4405f;
        }
        &:hover:nth-child(2){
            animation-delay: .3s;
            background-color: #e4405f;
        }
        &:nth-child(3){
            animation-delay: .6s;
            color: #45668e;
        }
        &:hover:nth-child(3){
            animation-delay: .6s;
            background-color: #45668e;
        }
        &:nth-child(4){
            animation-delay: .9s;
            color: #0088cc;
        }
        &:hover:nth-child(4){
            animation-delay: .9s;
            background-color: #0088cc;
        }
        &:hover .social__item-link:nth-child(1){
            left: 50%;
            color: #fff;
            opacity: 1;
        }
        &:hover .social__item-link.icon-paper-plane:nth-child(1){
            left: 48%;
            color: #fff;
            opacity: 1;
        }
        &:hover .social__item-link:nth-child(2){
            left: 150%;
            color: #fff;
            opacity: 0;
        }
    }
    &__item-link{
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s;
    }
    &__item-link.icon-paper-plane{
        top: 48%;
        left: 48%;
    }
    &__item-link:nth-child(1){
        left: -50%;
        opacity: 0;
    }
}
.about__skills{
    max-width: 350px;
    width: 100%;
}
.skill__box{
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    &-title{
        opacity: 0;
        animation: showText .5s 1s linear forwards;
        margin-right: 5px;
        max-width: 155px;
        width: 100%;
    }
    &-inner{
        display: flex;
        align-items: center;
        span{
            opacity: 0;
            animation: showText .5s 1s linear forwards;
        }
    }
    &-bar{
        width: 100px;
        height: 10px;
        border-radius: 10px;
        background-color: #EFEFEF;
        box-shadow: inset 0 10px 1px rgba(#5a5a5a, .2);
        position: relative;
        margin-right: 10px;
        transform: scaleX(0);
        animation: progress 1s cubic-bezier(1,0,.5,1) forwards;
        transform-origin: left;
    }
    &-bar__progress{
        position: absolute;
        height: 100%;
        left: 0;
        border-radius: 10px;
        background-color: #278651;
        transform: scaleX(0);
        animation: progress 1s 1s cubic-bezier(1,0,.5,1) forwards;
        transform-origin: left;
    }
}
//end about

//start experience
.experience{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.education{
    text-align: center;
    min-height: 770px;
}

.education__title{
    color: #fff;
    margin-bottom: 70px;
    &::before{
        background-color: #fff;
    }
}
.education__line{
    position: relative;
    text-align: center;
    input{
        display: none;
    }
}
#tab-1:checked ~ .line__circles .circle:nth-child(1),
#tab-2:checked ~ .line__circles .circle:nth-child(2),
#tab-3:checked ~ .line__circles .circle:nth-child(3),
#tab-4:checked ~ .line__circles .circle:nth-child(4),
#tab-5:checked ~ .line__circles .circle:nth-child(5){
    &::before{
        background-color: #fff;
    }
    .education__info{
        transform: translateX(0);
        opacity: 1;
        transition: all 1s;
        @include font-text;
    }
}
.line{
    background-color: #fff;
    transform-origin: top;
    animation: line 2s 1s forwards;
    width: 3px;
    height: 600px;
    transform: scaleY(0);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.circle{
    position: relative;
    &:nth-child(2n){
        .education__info{
            left: 30px;
            transform: translateX(400%);
        }
    }
}
.circle::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    border: 3px solid #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
}
.circle:nth-child(2){
    top: 150px;
}
.circle:nth-child(3){
    top: 300px;
}
.circle:nth-child(4){
    top: 450px;
}
.circle:nth-child(5){
    top: 600px;
}
.education__info{
    transform: translateX(-400%);
    opacity: 0;
    position: absolute;
    width: 400px;
    right: 10px;
    top: -25px;
    color: #fff;
    transition: all 1s;
    &-link a{
        color: #278651;
        border-bottom: 1px solid #278651;
    }
}
//end experience

// download

.download{
    padding: 15px;
    background-color: #242A2A;
    text-align: center;
    &__btn{
        max-width: 300px;
        padding: 15px 30px;
        border-radius: 30px;
        display: inline-block;
        position: relative;
        color: rgba(#fff, .4);
        background-color: #242A2A;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, .1),
                    -2px -2px 6px rgba(0, 0, 0, .8);
        &.active{
            color: #278651;
        }
        &.active::before{
            position: absolute;
            content: "";
            width: 230px;
            height: 47px;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            border-radius: 20px;
            box-shadow: inset -1px -1px 3px rgba(255, 255, 255, .1),
                        inset -2px -2px 6px rgba(0, 0, 0, .8);
        }
    }
}


@import 'media';